/*
 * SITE 
 */

.is-intro-animation-running {
 	overflow: hidden;
}

// Loader screen
.system-loader {
	display: block;

	.is-intro-animation-complete & {
		display: none;
	}
}

.system-loader-container {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 52px);

	svg {
		margin-top: 40px;
	}
}

.system-loader-logo {
	display: none;
	height: 100px;
	width: 104px;
	transform: rotateZ(-45deg);

	&.is-ready {
		display: block;
	}

	.block-middle,    
	.block-left,
	.block-right {
		display: block;
		position: absolute;
	}

	.block-middle {
		height: 100px;
		width: 40px;
		left: 32px;
		background: linear-gradient(#4D81EA, #2261E4);
	}

	.block-left,
	.block-right {
		height: 72px;
		width: 32px;
	}

	.block-left {
		right: 72px;
		bottom: 0;
		transform-origin: 100% 72px;
		background: linear-gradient(#28354F, #37496F);
	}

	.block-right {
		left: 72px;
		top: 0;
		transform-origin: 0 0;
		background: linear-gradient(#51BBEE, #80CDF2);
	}
}

// Landing wrapper
.landing-wrapper {
	position: relative;
 	padding-top: $base_x2;
 	padding-bottom: $base_x2;

	@include breakpoint($bp_s) {
		padding-top: $base_x4;
		padding-bottom: $base_x4;
	}

	@include breakpoint($bp_l) {
		padding-top: $base_x8;
		padding-bottom: $base_x8;
	}

	.is-loading & {
		display: none;
	}
}

// Landing video bg
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;

	.is-intro-animation-complete & {
		opacity: .1;
		visibility: visible;
		transition: all 1s;
	}

	.landing-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
	}

	video {
		display: none;
	}

	&.has-loaded {

		.poster {
			display: none;
		}

		video {
			display: block;
		}
	}
}