/*
 * BASE TYPOGRAPHY
 */

html {
	font-size: $font_size;
	font-weight: 400;
	line-height: $line_height_root;
	letter-spacing: -1px;
	font-family: futura-pt, sans-serif;
	color: $color_font_body;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	@include breakpoint($bp_m) {
		font-size: $font_size_m;
	}
}

// Font size
h1 {
	font-size: $font_size_h1;
	font-weight: 500;
	line-height: $line_height_headings;
	letter-spacing: -0.6px;

	@include breakpoint($bp_s) {
		font-size: $font_size_h1_s;
	}

	@include breakpoint($bp_m) {
		font-size: $font_size_h1_m;
	}
}

h1,
p {
	margin-bottom: $base_x2;

	@include breakpoint($bp_m) {
		margin-bottom: $base_x4;
	}
}

header {
	font-family: europa, sans-serif;
	font-size: $font_size_header;
	letter-spacing: 1px;

	a {
		font-weight: 700;
	}
}

.hero-paragraph {
	
	@include breakpoint($bp_s) {
		font-size: $font_size_caption_s;
	}

	@include breakpoint($bp_m) {
		font-size: $font_size_caption_m;
	}

	> p:first-child {
		margin-bottom: 0;
	}
}