/*
 * HEADER
 */

header {
	@extend %clearfix;
 	padding-bottom: $base_x2;

	@include breakpoint($bp_s) {
		padding-bottom: $base_x4;
	}

	@include breakpoint($bp_m) {
		padding-bottom: $base_x8;
	}

	// Vertical centering header elements
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.site-logo {
	float: left;

	a {
		display: block;
		border-bottom: none;

		img {
			display: block;
		}
	}
}

.header-links {
	float: right;
	font-weight: bold;

	li {
		display: inline;

		+ li {

			&::before {
				content: ' / ';
				color: $color_grey_mid;
			}
		}
	}

	a {
		text-decoration: none;
		border-bottom: none;
		text-transform: uppercase;
	}

	.dribbble a {
		color: #FD8D9C;
	}

	.twitter a {
		color: #8FD4F3;
	}

	.contact a {
		color: #5A8EEA;
	}
}
