// SETTINGS

// 8-point base units
$base_px: 8px;
$base_d4: $base_px / 4;
$base_d2: $base_px / 2;
$base:    $base_px;
$base_x2: $base_px * 2;
$base_x3: $base_px * 3;
$base_x4: $base_px * 4;
$base_x5: $base_px * 5;
$base_x6: $base_px * 6;
$base_x7: $base_px * 7;
$base_x8: $base_px * 8;

// Structure widths
$width_l: 1024 + ( $base_x4 * 2);

// Breakpoints
$bp_s: 480px;
$bp_m: 768px;
$bp_l: $width_l;

// Typography
$font_size: 16px;
$font_size_l: 18px;
$font_size_h1: 32px;
$font_size_h1_s: 48px;
$font_size_h1_l: 58px;
$font_size_header: 12px;
$font_size_header_s: 14px;
$font_size_caption_s: 22px;
$font_size_caption_l: 32px;
$line_height_root: 1.375;
$line_height_headings: 1.25;
$p_spacing: $line-height_root + rem;
$p_spacing_half: ($line-height_root / 2) + rem;
$p_spacing_double: ($line-height_root * 2) + rem;

// Colors
$color_primary: #1056ce;
$color_font_body: #222;
$color_font_headings: #222;
$color_font_anchors: #222;
$color_grey_mid: #BBC4D5;